<section class="container">

 <!-- <div id="carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner embed-responsive embed-responsive-21by9">
      <div class="carousel-item embed-responsive-item active slide1"></div>
      <div class="carousel-item embed-responsive-item slide2"></div>
      <div class="carousel-item embed-responsive-item slide3"></div>
    </div>
  </div>-->


  <div class="row formrow bg mx-1">

    <div class="col m-4"></div>

    <div class="col formbox m-3">
      <div class="form-inline py-1">
        <label><b>First Name</b></label>
        <input type="text" class="form-control" [(ngModel)]="firstName" (keyup)="validateFirstName()" required>
      </div>
      <div class="form-inline py-1">
        <label><b>Last Name</b></label>
        <input type="text" class="form-control" [(ngModel)]="lastName" (keyup)="validateLastName()"required>
      </div>
      <div class="form-inline py-1">
        <label><b>Email</b></label>
        <input type="email" class="form-control" [(ngModel)]="email" (keyup)="validateEmail()" required>
      </div>
      <div class="form-inline py-1">
        <label><b>Password</b></label>
        <input type="password" class="form-control" [(ngModel)]="password" (keyup)="validatePW()" required>
      </div>
      <div class="form-inline py-1">
        <label><b>Confirm Password</b></label>
        <input type="password" class="form-control" [(ngModel)]="cpassword" (keyup)="validateCPW()" required>
      </div>
      <div class="form-row justify-content-center">
        <button type="submit" class="btn m-1" (click)="checkForm()" [disabled]="!isFormValid"><b>Sign Up</b></button>
      </div>
    </div>

  </div>

</section>