<section class="container">
  <div class="row">
    <div class="col">
      <h4 class="text-center my-3">Reasons to Sign Up as a Provider<br></h4>
    </div>
  </div>
  <div class="row my-2">
    <div class="col-sm-4 headline text-center">
      <img class="img-fluid mb-2" src="assets/img/accessibility.png">
      <h4>Promote Inclusivity</h4>
      <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      <button type="button" class="btn" routerLink="/headerdummy"><b>Learn More</b></button>
    </div>
    <div class="col-sm-4 headline text-center">
      <img class="img-fluid mb-2" src="assets/img/transparency.png">
      <h4>Build Trust</h4>
      <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      <button type="button" class="btn" routerLink="/headerdummy"><b>Learn More</b></button>
    </div>
    <div class="col-sm-4 headline text-center">
      <img class="img-fluid mb-2" src="assets/img/grow.png">
      <h4>Grow your Practice</h4>
      <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      <button type="button" class="btn" routerLink="/headerdummy"><b>Learn More</b></button>
    </div>
  </div>
</section>
